.intro-button{
	align-items: center;

}

.astronomy-name{
	top-margin: 100px;

}

p{
	color: blue;
}
.jumbotron{
					margin-top:20px;
					background-image: url(https://c4.wallpaperflare.com/wallpaper/235/107/585/stars-space-galaxy-nebula-wallpaper-preview.jpg);
					background-size: cover;
					height: 500px;

		}