.intro-button{
	align-items: center;

}

.astronomy-name{
				padding-top: 5px;
				padding-left: -400px;
}

p{
	color: blue;
}
.jumbotron{
				margin-top:20px;
				background-image: url(https://c4.wallpaperflare.com/wallpaper/235/107/585/stars-space-galaxy-nebula-wallpaper-preview.jpg);
				background-size: cover;
				height: 500px;
		}

.navbar-button {
					padding-top: 20px;
	                                align-items: center;
}
